@font-face {
    font-family: "Montserrat-Bold";
    src: local('Montserrat-Bold'), url(./Montserrat-Bold.ttf) format('ttf');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: local('Montserrat-Regular'), url(./Montserrat-Regular.ttf) format('ttf');
}

$font-Montserrat-Bold: Montserrat-Bold;
$font-Montserrat-Regular: Montserrat-Regular;

@mixin MBold {
    font-family: $font-Montserrat-Bold;
}

@mixin MRegular {
    font-family: $font-Montserrat-Regular;
}