@import '../variables';

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: $inputBorderRadius;
    height: $inputHeight;
    margin: 10px 0px;
    display: flex;
    align-items: center;

    img {
        height: auto;
        width: 20px;
        margin: auto 15px auto 25px;
    }

    input {
        border: none;
        background: none;
        color: white;
        outline: none;
        font-weight: 600;
    }

    input::placeholder {
        color: $whiteFaded;
    }
}