@import '../../shared/variables';

#steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 35px;

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        .step {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $whiteFaded;
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 0.5px;
            margin: 0px 5px;

            #outline {
                border-radius: 50%;
                border: 0.5px solid $whiteFaded;
            }

            .dot {
                box-sizing: border-box;
                margin: 8px;
                background-color: white;
                width: 5px;
                height: 5px;
                border-radius: calc(5px / 2);
            }

            span {
                margin-top: 15px;
            }
        }

        #current {
            color: white;
        }

        .connector {
            width: 200px;
            position: relative;
            top: -15px;
            border-top: 1px solid $whiteFaded;
        }
    }
}