
#widgets {
    display: flex;
    flex-flow: row wrap;
}

#stock {
    display: flex;
    flex: 1;
    flex-direction: row;

    #symbols {
        display: flex;
    }

    #graph {
        display: flex;
        flex: 3;
    }
}