@import '../../shared/variables';

%row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.news-widget {
    @include widget;

    #background {
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
        background: url('../../shared/assets/article-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            color: white;
            text-align: left;
            font-size: 35px;
        }

        footer {
            @extend %row-center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 12px;
            color: white;

            #details {
                @extend %row-center;

                #source {
                    @extend %row-center;

                    span {
                        margin-left: 10px;
                    }
                }

                #time {
                    margin-left: 20px;
                    @extend %row-center;

                    span {
                        margin-left: 10px;
                    }
                }
            }

            #domain {
                position: relative;
                top: 2.5px;
                border-bottom: 1px solid white;
                padding-bottom: 5px;
            }
        }
    }
}