/** Dimensions */
$inputHeight: 55px;
$inputBorderRadius: $inputHeight/2;

/** Colors */
$whiteFaded: rgba(250, 250, 250, 0.6);

/** Mixins */
@mixin widget {
    display: flex;
    flex-basis: 50%;
    height: 500px;
}