@import '../../shared/variables',
        '../../shared/fonts/fonts';

.weather-widget {
    @include widget;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 40px;
    background-color: #ffb236;

    #top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #left {
            display: flex;
            flex-direction: column;

            img {
                align-self: flex-start;
            }

            #sky-description {
                font-size: 25px;
                font-weight: 700;
                color: white;
            }

            #location {
                font-weight: 700;
                color: $whiteFaded;
                font-size: 20px;
            }
        }

        #right {
            display: flex;
            flex-direction: column;

            #timestamps {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .timestamp {
                    color: $whiteFaded;
                    font-weight: 700;
                    font-size: 12px;
                }

                #current {
                    color: white;
                    border-bottom: 1px solid white;
                    padding-bottom: 5px;
                }
            }

            #current-temp {
                font-size: 115px;
                color: white;
                font-weight: 800;
            }
        }
    } /** Top */

    #temps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}