$greyFaded: rgba(248, 248, 248, 1);

.stock-symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 45px;
    border-bottom: 1px solid $greyFaded;

    :last-child {
        border-bottom: none;
    }

    .details {
        display: flex;
        flex-direction: column;

        .symbol {
            font-weight: 700;
            font-size: 20px;
        }

        .value {
            color: rgb(178, 178, 178);
            font-weight: 700;
        }
    }

    .change {
        font-size: 30px;
        font-weight: 700;
        color: #63da38;
    }

    .negative {
        color: #ff3636;
    }
}