@import '../../../shared/variables';

.hourly-temp {
    display: flex;
    flex-direction: column;

    .temp {
        color: white;
        font-weight: 700;
        font-size: 25px;
    }

    .hour {
        color: $whiteFaded;
        font-weight: 600;
        font-size: 12px;
    }
}