@import '../shared/variables';

@mixin layer {
    position: absolute;
    height: 100%;
    width: 50%;
    z-index: -10;
}

$form-width: 300px;

#sign-up {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(to bottom, rgba(204, 123, 96, 1), rgba(204, 123, 96, 0.2));

    #layer-bl-corner {
        @include layer;
        bottom: 0px;
        left: 0px;
        background: radial-gradient(farthest-corner at 0% 100%, rgba(41, 53, 53, 1), rgba(204, 123, 96, 0.2) 40%),
                    radial-gradient(farthest-corner at 10% 100%, rgba(41, 53, 53, 1), rgba(204, 123, 96, 0.2) 30%),
                    radial-gradient(farthest-corner at 20% 100%, rgba(41, 53, 53, 1), rgba(204, 123, 96, 0.2) 20%),
                    radial-gradient(farthest-corner at 30% 100%, rgba(41, 53, 53, 1), rgba(204, 123, 96, 0.2) 10%);
    }

    #layer-br-corner {
        @include layer;
        bottom: 0px;
        right: 0px;
        background: radial-gradient(farthest-corner at 100% 100%, rgba(36, 24, 8, 1), rgba(204, 123, 96, 0.2) 40%),
                    radial-gradient(farthest-corner at 90% 100%, rgba(36, 24, 8, 1), rgba(204, 123, 96, 0.2) 30%),
                    radial-gradient(farthest-corner at 80% 100%, rgba(36, 24, 8, 1), rgba(204, 123, 96, 0.2) 20%),
                    radial-gradient(farthest-corner at 70% 100%, rgba(36, 24, 8, 1), rgba(204, 123, 96, 0.2) 10%);
    }

    h1 {
        color: white;
        letter-spacing: 3px;
        font-size: 38px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: $form-width;
        margin: 30px auto;
    }

    button {
        width: $form-width;
        height: $inputHeight;
        background: none;
        border: 1px solid $whiteFaded;
        border-radius: $inputBorderRadius;
        font-weight: 600;
        color: white;
    }

    #terms-and-conditions {
        font-weight: 600;
        color: $whiteFaded;
        font-size: 12px;
        margin-top: 30px;
    }
}