#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    flex-basis: 60px;
    background-color: #f96332;

    #left-menu {
        cursor: pointer;

        img {
            margin-left: 30px;
        }
    }

    #right-menu {
        img {
            margin-right: 30px;
        }
    }
}